@charset "UTF-8";
*{
    font-family:'Times New Roman' sans-serif;
}
body{
    background-image: radial-gradient(circle, rgb(27, 165, 112), rgb(216, 130, 19));
}

main{
    background-color: white;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(61, 50, 50, 0.486);
    width: 1000px;
    height: 600px;
    margin: auto;
}

h1{
   color: rgb(54, 136, 136);
   text-align: center;
   text-shadow: 2px 2px 2px rgba(58, 50, 50, 0.699) ;
}
h2{
   color: rgb(113, 192, 34);
   text-shadow: 1px 1px 1px rgb(56, 66, 46);
}

p{
    text-align: justify;
}
