@charset "UTF-8";

/*Estilo para impressora */

*{
    margin: 10px;
    padding: 10px;
}

html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}
menu{
    display: none;
}

article{
    width: 100%;
    text-align: justify;
}
article::after{
    content: "Esse arquivo foi impresso através do site www.CursoemVídeo.com";
}